<a href="https://colab.research.google.com/github/soujanya-vattikolla/Advanced-Python-Programming/blob/main/Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Lists**<br>

*   Ordered
*   Mutable
*   Allows duplicate elements

Creating a list

In [1]:
mylist = ['Cherry','apple','grapes']
print(mylist)

['Cherry', 'apple', 'grapes']

In [2]:
# create an empty list with the list function
mylist1 = list()
print(mylist1)

[]

In [3]:
# Lists allow different data types
mylist2 = [5,'apple','apple','True']
print(mylist2)

[5, 'apple', 'apple', 'True']

In [4]:
# access elements
items = mylist[1]
print(items)

apple

In [5]:
# we can use negative indexing, e.g -1 refers to the last item,
item = mylist2[-1]
print(item)

True

In [6]:
for i in mylist2:
  print(i)

5
apple
apple
True

In [7]:
# Check if an item exists
if "apple" in mylist:
    print("yes")
else:
  print("no")

yes

In [8]:
# len() : get the number of elements in a list
len(mylist)

3

In [9]:
# append() : adds an element to the end of the list
mylist.append('lemon')
print(mylist)

['Cherry', 'apple', 'grapes', 'lemon']

In [10]:
# insert() : adds an element at the specified position
mylist.insert(2,'rasperry')
print(mylist)

['Cherry', 'apple', 'rasperry', 'grapes', 'lemon']

In [11]:
# pop() : removes and returns the item at the given position, default is the last item
item = mylist.pop()
print(item)
print(mylist)

lemon
['Cherry', 'apple', 'rasperry', 'grapes']

In [12]:
# remove() : removes an item from the list
item = mylist.remove("apple")
print(item)

None

In [13]:
print(mylist)

['Cherry', 'rasperry', 'grapes']

In [14]:
# clear() : removes all items from the list
item = mylist1.clear()
print(item)

None

In [15]:
# reverse() : reverse the items
print(mylist2)
item = mylist2.reverse()
print(mylist2)

[5, 'apple', 'apple', 'True']
['True', 'apple', 'apple', 5]

In [16]:
# sort() : sort items in ascending order
mylist.sort()

In [17]:
mylist1 = [5,-1,8,7,500]
mylist1.sort()
print(mylist1)

[-1, 5, 7, 8, 500]

In [18]:
new_list = sorted(mylist1)
print(new_list)

[-1, 5, 7, 8, 500]

In [19]:
# create list with repeated elements
my_lst = [0]*5
print(my_lst)

[0, 0, 0, 0, 0]

In [20]:
# concatenation
my_lst2 = mylist1+my_lst
print(my_lst2)

[-1, 5, 7, 8, 500, 0, 0, 0, 0, 0]

In [21]:
# slicing
# a[start:stop:step], default step is 1
mylst = [1,2,3,4,5,6,7,8,9]
a = mylst[1:5]
print(a)

[2, 3, 4, 5]

In [22]:
# copy a list with slicing
a = mylst[:]
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [23]:
# start to end with every second item
a = mylst[::2]
print(a)

[1, 3, 5, 7, 9]

In [24]:
# reverse the list with a negative step:
a = mylst[::-1]
print(a)

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [25]:
# this just copies the reference to the list, so be careful
org_lst = ['Cherry', 'apple', 'grapes', 'lemon']
copy_lst = org_lst
print(copy_lst)

['Cherry', 'apple', 'grapes', 'lemon']

In [26]:
# now modifying the copy also affects the original
copy_lst.append('orange')
print(copy_lst)
print(org_lst)

['Cherry', 'apple', 'grapes', 'lemon', 'orange']
['Cherry', 'apple', 'grapes', 'lemon', 'orange']

In [27]:
# use copy(), or list(x) to actually copy the list
copy_lst = org_lst.copy()
copy_lst.append('orange')
print(copy_lst)
print(org_lst)

['Cherry', 'apple', 'grapes', 'lemon', 'orange', 'orange']
['Cherry', 'apple', 'grapes', 'lemon', 'orange']

In [28]:
# now modifying the copy does not affect the original
copy_lst = list(org_lst)
copy_lst.append('orange')
print(copy_lst)
print(org_lst)

['Cherry', 'apple', 'grapes', 'lemon', 'orange', 'orange']
['Cherry', 'apple', 'grapes', 'lemon', 'orange']

In [29]:
copy_lst = org_lst[:]
copy_lst.append('orange')
print(copy_lst)
print(org_lst)

['Cherry', 'apple', 'grapes', 'lemon', 'orange', 'orange']
['Cherry', 'apple', 'grapes', 'lemon', 'orange']

In [30]:
print(mylst)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [31]:
#List comprehension consists of an expression followed by a for statement inside square brackets.
b = [i*i for i in mylst]
print(b)

[1, 4, 9, 16, 25, 36, 49, 64, 81]